<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mapper.ReplayMapper">
    <select id="findAll" resultType="com.exam.entity.Replay">
        select messageId,replayId,replay,replayTime from replay
    </select>

    <select id="findAllById" resultType="com.exam.entity.Replay">
        select messageId,replayId,replay,replayTime from replay where messageId = #{messageId}
    </select>

    <select id="findById" resultType="com.exam.entity.Replay">
        select messageId,replayId,replay,replayTime from replay where messageId = #{messageId}
    </select>

<!--    <delete id="delete">-->
<!--        delete from replay where replayId = #{replayId}-->
<!--    </delete>-->

<!--    <update id="update">-->
<!--        update replay set title = #{title}, replay = #{replay}, replayTime = #{replayTime} where replayId = #{replayId}-->
<!--    </update>-->

    <insert id="add" useGeneratedKeys="true" keyProperty="replayId">
        insert into replay(messageId,replay,replayTime) values(#{messageId}, #{replay},#{replayTime})
    </insert>
</mapper>