<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mapper.TeacherMapper">
    <select id="findAll" resultType="com.exam.entity.Teacher">
        select *
        from teacher
    </select>

    <select id="findAllNoPages" resultType="com.exam.entity.Teacher">
        select *
        from teacher
    </select>

    <select id="findById" resultType="com.exam.entity.Teacher">
        select *
        from teacher
        where teacherId = #{teacherId}
    </select>

<!--    <delete id="deleteById">-->
<!--        delete-->
<!--        from teacher-->
<!--        where teacherId = #{teacherId}-->
<!--    </delete>-->

<!--    <update id="updateById">-->
<!--        update teacher-->
<!--        set teacherName = #{teacherName},-->
<!--            sex         = #{sex},-->
<!--            tel         = #{tel},-->
<!--            email       = #{email},-->
<!--            pwd         = #{pwd},-->
<!--            cardId      = #{cardId},-->
<!--            role        = #{role},-->
<!--            institute   = #{institute},-->
<!--            type        = #{type}-->
<!--        where teacherId = #{teacherId}-->
<!--    </update>-->

    <insert id="add" useGeneratedKeys="true" keyProperty="teacherId">
        insert into teacher(teacherName, sex, tel, email, pwd, cardId, role, type, institute)
        values (#{teacherName}, #{sex}, #{tel}, #{email}, #{pwd}, #{cardId}, #{role}, #{type}, #{institute})
    </insert>
</mapper>